# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
build
dist
# Build folder
/api

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local ENV files
.env
.env.local
.env.build
# Vercel
.vercel

# Turborepo
.turbo

# typescript
*.tsbuildinfo

.next

package-lock.json

notes
user.json
userr.json
